<header>
  <a (click)="logout()">Cerrar Sesión</a>
</header>

<div class="menu-container">
  
  @if (user) {
    <h1 class="welcome-title">Bienvenido, {{ user.username }}</h1>
  } 

  <div class="menu-options">

    <a routerLink="/dt" class="menu-card">
      <h2>Nueva Partida</h2>
      <p>Comienza una nueva carrera como Director Técnico.</p>
    </a>
    
    <a routerLink="/saves" class="menu-card">
      <h2>Cargar Partida</h2>
      <p>Continúa tus partidas guardadas.</p>
    </a>

  </div>
</div>