:host {
  display: block; 
  background-color: #f0f7f4; 
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px; 
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h2 {
  text-align: center;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.input-group {
  margin-bottom: 0.5rem; 
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 14px 16px;
  border-radius: 8px;
  font-size: 1rem;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #38a169;
}


.button-group {
  display: flex;
  flex-direction: column;
  gap: 12px; 
  margin-top: 1rem;
}

button {
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.btn-primary {
  background-color: #38a169; 
  color: white;
}

.btn-primary:disabled {
  background-color: #9db2a2;
  color: #f0f7f4;
  cursor: not-allowed;
}


.error-messages {
  min-height: 1.5em; 
  margin-bottom: 0.5rem;
}

.error-messages small {
  color: #e53e3e; 
  font-weight: 500;
  display: block; /*1 por linea*/
  margin-top: 4px;
}

.pending-message small {
  color: #555;
  font-style: italic;
}

.form-message {
  text-align: center;
  font-weight: 500;
  color: #2f855a; 
  margin-top: 1rem;
}

