:host {
  display: flex; 
  flex-direction: column; 
  min-height: 80vh; 
}

main {
  flex-grow: 1; 
}

main.layout-centered {
  display: grid;
  place-items: center;
}

footer {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  color: rgba(255, 255, 255, 0.7); 
}