.plantel-container {
  display: flex;
  gap: 20px;
}

.columna {
  flex: 1;
}

.player-card {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
}

.titular {
  border: 2px solid green;
}

.suplente {
  border: 2px solid orange;
}
