<button class="btn-back-page" (click)="goBack()">
  <span class="arrow">&larr;</span> VOLVER
</button>
<div class="profile-container">
  
  <header class="form-header">
    <h1>Perfil del Manager</h1>
  </header>

  <form [formGroup]="form" (ngSubmit)="save()">

    <!-- CAMPO NOMBRE -->
    <div class="form-group">
      <label for="name">Nombre</label>
      <input 
        id="name" 
        type="text" 
        formControlName="name" 
        placeholder="Ej: Pep Guardiola"
        autocomplete="off"
      >
      @if (form.controls.name.invalid && form.controls.name.touched) {
        <span class="error-msg">⚠ El nombre es requerido.</span>
      }
    </div>

    <!-- CAMPO NACIONALIDAD -->
    <div class="form-group">
      <label for="nationality">Nacionalidad</label>
      <input 
        id="nationality" 
        type="text" 
        formControlName="nationality" 
        placeholder="Ej: Argentina"
      >
      @if (form.controls.nationality.invalid && form.controls.nationality.touched) {
        <span class="error-msg">⚠ La nacionalidad es requerida.</span>
      }
    </div>

    <!-- CAMPO EDAD -->
    <div class="form-group">
      <label for="age">Edad</label>
      <input 
        id="age" 
        type="number" 
        formControlName="age"
      >
      @if (form.controls.age.hasError('min') && form.controls.age.touched) {
        <span class="error-msg">⚠ Debes ser mayor de 18 años.</span>
      }
    </div>

    <!-- CAMPO ESTILO DE JUEGO -->
    <div class="form-group">
      <label for="playStyle">Estilo de Juego</label>
      <select id="playStyle" formControlName="playStyle">
        <option value="Balanced">Equilibrado</option>
        <option value="Attacking">Ofensivo</option>
        <option value="Defensive">Defensivo</option>
        <option value="Counter">Contragolpe</option>
        <option value="Possession">Posesión</option>
      </select>
    </div>

    <!-- BOTÓN GUARDAR -->
    <div class="actions">
      <button type="submit" class="btn-save" [disabled]="isSaving()">
        @if (isSaving()) {
          Creando Perfil... ⏳
        } @else {
          Crear Manager 
        }
      </button>
    </div>

  </form>
</div>